<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating> User Name</ion-label>
			<ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating> Password</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<button ion-button (click)="myLogIn()">Login</button>
		<button ion-button (click)="myLogout()">Log Out</button>
	</ion-list>
</ion-content>
