<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating> User Name</ion-label>
			<ion-input type="text" [(ngModel)]="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating> Password</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating> Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="confirmpassword"></ion-input>
		</ion-item>
		<button ion-button (click)="myRegister()">Register</button>
	</ion-list>
</ion-content>
