<ion-menu type="overlay" [content]="mycontent">
  <ion-content>
		    <ion-header>

			  <ion-navbar>
			    <ion-buttons start>
			      <button ion-button>
			        <ion-icon name="contact"></ion-icon>
			      </button>
			    </ion-buttons>
			    <button ion-button menuToggle>
			      <ion-icon name="menu"></ion-icon>
			    </button>
			    <ion-title>
			      Title
			    </ion-title>
			    <ion-buttons end>
			      <button ion-button (click)="doClick()">
			        <ion-icon name="more"></ion-icon>
			      </button>
			    </ion-buttons>
			  </ion-navbar>

			  <ion-buttons>
		      <button ion-button (click)="onClick(home)">
		       Home
		      </button>
		    </ion-buttons>

			</ion-header>

			
  </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>
